<template name="journalTable">
    <h3>Journal</h3>

    <div class="table-responsive">
        <table class="table table-hover table-condensed">
            <thead>
                <tr>
                    <th>Zeit</th>
                    <th>Sender</th>
                    <th>Emfänger</th>
                    <th>Nachricht</th>
                    <th></th>

                </tr>
            </thead>
            {{#each journalentry}}

            <tbody>
                <tr>
                    <td>{{formatDate createdAt}}</td>
                    <td>{{sender}}</td>
                    <td>{{receiver}}</td>
                    <td>{{text}}</td>
                    <td>
                        <a href="{{pathFor 'journalItem'}}" type="button" class="btn btn-default btn-xs">
                            <span class="glyphicon glyphicon-edit"></span>
                        </a>
                    </td>
                </tr>
            </tbody>
            {{/each}}
        </table>
    </div>
</template>