<template name="incidentEdit">
    <h3>Ereignis bearbeiten</h3>

    <form class="form-horizontal update-incident-entry">
        <div class="form-group">
            <label for="receiver" class="col-sm-1 control-label">Name</label>
            <div class="col-sm-11">
                <input class="form-control" type="text" name="name" value="{{name}}" placeholder="Ereignisname">
            </div>
        </div>
        <div class="form-group">
            <label for="sender" class="col-sm-1 control-label">Ort</label>
            <div class="col-sm-11">
                <input class="form-control" type="text" name="location" value="{{location}}" placeholder="Standort">
            </div>
        </div>
        <div class="form-group">
            <label for="text" class="col-sm-1 control-label">Eröffnet</label>
            <div class="col-sm-11">
                <input class="form-control" type="text" name="createdAt" value="{{formatDate createdAt}}" placeholder="" readonly>
            </div>
        </div>
        {{# if closedAt }}
        <div class="form-group">
            <label for="text" class="col-sm-1 control-label">Beendet</label>
            <div class="col-sm-11">
                <input class="form-control" type="text" name="closedAt" value="{{formatDate closedAt}}" placeholder="" readonly>
            </div>
        </div>
        {{ else }}
        <div class="form-group">
            <label for="text" class="col-sm-1">Beendet</label>
            <div class="col-sm-11">
                <span>
                    <p>Noch nicht beendet</p>
                    <a class="btn btn-warning btn-xs close-incident" href="#">Beenden</a>
                </span>
            </div>
        </div>
        {{/if }}


        <div class="form-group">
            <div class="col-sm-offset-1 col-sm-11">
                <button type="submit" class="btn btn-primary">Ändern</button>
            </div>
        </div>
    </form>
</template>
