@import '{reywood:bootstrap3-sass}/bootstrap';

//colors
$body-bg: #eee;
$white: #fff;
$gray-base:              #000 !default;
$gray-darker:            lighten($gray-base, 13.5%) !default; // #222
$gray-dark:              lighten($gray-base, 20%) !default;   // #333
$gray:                   lighten($gray-base, 33.5%) !default; // #555
$gray-light:             lighten($gray-base, 46.7%) !default; // #777
$gray-lighter:           lighten($gray-base, 93.5%) !default; // #eee

$brand-primary:         darken(#428bca, 6.5%) !default; // #337ab7
$brand-success:         #5cb85c !default;
$brand-info:            #5bc0de !default;
$brand-warning:         #f0ad4e !default;
$brand-danger:          #d9534f !default;

$black_15: rgba(0, 0, 0, 0.15);
$black_25: rgba(0, 0, 0, 0.25);

//fonts
$font_0: Arial;
$font_1: sans-serif;
$font_2: Source Sans Pro;

pre {
	white-space: pre-wrap;
	//Instead of the line below you could use @include word-break($value)
	word-break: normal;
}
.main {
	background: $white;
	border-radius: 3px;
	padding: 10px;
	margin-bottom: 10px;
	@include box-shadow($gray 2px 2px 10px);
}
.journal-entry {
    padding: 10px;
    margin: 10px;
    border-radius: 3px;
    @include box-shadow($gray 2px 2px 10px);
}
.journal-entry-heading {
	font-weight: bold;
}

#priority {
    background: $state-info-bg;
    border-color: $state-info-border;
}

textarea {
	resize: vertical;
}
body {
    background-color: $body-bg;
	padding-top: 60px;
	font-family: $font_2, $font_1;
}
.btn {
	margin: 0 5px;
}

#spinner {
	height: 300px;
}
@media print {
	body {
		padding: 0;
		font-size: 11px;
		font-family: $font_0, $font_1;
	}
	.pre {
		white-space: pre-line;
	}
	.journal-table tbody > tr > td {
		white-space: pre-line;
		word-wrap: break-word;
	}
}
.incident-table tbody > tr > td {
	vertical-align: middle;
}
