.pre {
  white-space: pre-wrap;
}

.main {
    background: #fff;
    border-radius: 3px;
    padding: 10px;
    margin-bottom: 10px;
    -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.15);
    -moz-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.15);
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.15);
}

textarea {
    resize: vertical;
}

body {
    background: #eee;
    color: #666666;
    padding-top: 60px;
    font-family: 'Source Sans Pro', sans-serif;
}

#spinner {
    height: 300px;
}

.incident-table tbody>tr>td {
    vertical-align: middle;
}

/* special css for printing journal*/
@media print {
    body {
        padding: 0px;
        font-size: 11px;
        font-family: 'Arial', sans-serif;
    }
    .journal-table tbody>tr>td {
      white-space: pre-line;
      word-wrap: break-word;
    }
    .pre {
      white-space: pre-line;
    }
}
