.incident-table tbody > tr > td {
	vertical-align: middle;
}

.btn-group {
    white-space: nowrap;
}
.btn-group .btn {
    float: none;
    display: inline-block;
}
 .btn + .dropdown-toggle {
    margin-left: -4px;
}

.table-responsive {
  overflow-x: visible !important;
  overflow-y: visible !important;
}

.incident-list-row {
    padding-top: 10px;
    padding-bottom: 10px;
    border-bottom: 1px solid;
}

.incident-list {
    border-bottom: 1px solid;
}
