@import "_variables.scss";
@import "_bootwatch.scss";
@import '{reywood:bootstrap3-sass}/bootstrap';


pre {
	white-space: pre-wrap;
	//Instead of the line below you could use @include word-break($value)
	word-break: normal;
}
.main {
	//background: $white;
	border-radius: 3px;
	padding: 10px;
	margin-bottom: 10px;
	@include box-shadow($gray 2px 2px 10px);
}
.journal-entry {
    padding: 10px;
    margin: 10px;
    border-radius: 3px;
    @include box-shadow($gray 2px 2px 10px);
}
.journal-entry-heading {
	font-weight: bold;
}

#priority {
    background: $state-danger-bg;
    border-color: $state-danger-border;
}

textarea {
	resize: vertical;
}
body {
	//padding-top: 60px;
}
.btn {
	margin: 0 5px;
}

#spinner {
	height: 300px;
}
@media print {
	body {
		padding: 0;
		font-size: 11px;
	}
	.pre {
		white-space: pre-line;
	}
	.journal-table tbody > tr > td {
		white-space: pre-line;
		word-wrap: break-word;
	}
}
.incident-table tbody > tr > td {
	vertical-align: middle;
}
