<template name="header">
    <nav class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <a class="navbar-brand" href="{{pathFor 'incident'}}">DefCon</a>
            </div>
            <div class="navbar">
                <ul class="nav navbar-nav">
                    <li class="{{activeRouteClass 'journal'}}">
                        <a href="{{pathFor 'journal'}}">Journal</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
</template>
